<div class="center-vertical content">
  <h1>Task Log</h1>
</div>

<section class="center-vertical content">
  <div class="left-content">
    <h2><%= @task.name %>の情報</h2>
  </div>

  <%# 登録した見積もり予想を一覧を表示 %>
  <div class="center-vertical">
    <div class="post">
      <div class="center-vertical">
        <h2>過去の見積もり</h2>
      </div>
      <div class="center-vertical content">
        <h3>作業規模</h3>
        <div class="center-hrizontal content">
          <img src="/Assets/img/<%= @scale_val.estimation %>.png" alt="scale_img" style="width:110px; height:110px;">
          <%= @scale_val.estimation_comment %>
          <br><%= @scale_val.estimation %>
        </div>
      </div>
      <div class="center-vertical content">
        <h3>作業期間</h3>
        <div class="center-vertical content">
          <img src="/Assets/img/<%= @period_val.estimation %>.png" alt="scale_img" style="width:110px; height:110px;">
          <br><%= @period_val.estimation %>
        </div>
      </div>
      <div class="center-vertical content">
        <h3>作業工数</h3>
        <div class="center-vertical content">
          <img src="/Assets/img/<%= @manhour_val.estimation %>.png" alt="scale_img" style="width:110px; height:110px;">
          <br><%= @manhour_val.estimation %>
        </div>
      </div>
      <div class="center-vertical content">
        <h3>前提知識</h3>
        <div class="center-vertical content">
          <img src="/Assets/img/<%= @experience_val.estimation %>.png" alt="scale_img" style="width:110px; height:110px;">
          <br><%= @experience_val.estimation %>
        </div>
      </div>
    </div>
  </div>
</section>