<div class="center-vertical content">
  <h1>Task Log</h1>
</div>

<section class="center-vertical content">
  <div>
    <div class="left-content">
      <h3>Task Name : <%= @task.name %></h3>
    </div>
    <%# 登録した見積もり予想を一覧を表示 %>
    <div class="post">
      <h4>あなたの見積もり</h4>
      <div class="left-content">
        作業規模見積もり：
        <%= @scale_val.estimation %>
        コメント：
        <%= @scale_val.estimation_comment %>
      </div>
      <div class="left-content">
        作業期間見積もり：
        <%= @period_val.estimation %>
        コメント：
        <%= @period_val.estimation_comment %>
      </div>
      <div class="left-content">
        作業工数見積もり：
        <%= @manhour_val.estimation %>
        コメント：
        <%= @manhour_val.estimation_comment %>
      </div>
      <div class="left-content">
        作業経験見積もり：
        <%= @experience_val.estimation %>
        コメント：
        <%= @experience_val.estimation_comment %>
      </div>
    </div>

    <div class="post">
      <h4>反省</h4>
      <div class="left-content">
        作業規模反省：
        <%= @scale_fb.fact %>
        コメント：
        <%= @scale_fb.feedback_comment %>
      </div>
      <div class="left-content">
        作業期間反省：
        <%= @period_fb.fact %>
        コメント：
        <%= @period_fb.feedback_comment %>
      </div>
      <div class="left-content">
        作業工数反省：
        <%= @manhour_fb.fact %>
        コメント：
        <%= @manhour_fb.feedback_comment %>
      </div>
      <div class="left-content">
        作業経験反省：
        <%= @experience_fb.fact %>
        コメント：
        <%= @experience_fb.feedback_comment %>
      </div>


        <div class="left-content">
          <input type="text" name="hashtag" value="<%= @task.hashtag%>" placeholder="ハッシュタグ">
        </div>
        <div class="left-content">
          <input type="submit" value="登録">
        </div>
      </form>
    </div>
  </div>
</section>