<div>

  <h1><%= current_user.name %>のページ</h1>
  <div>

  </div>

  <div>
    <% @user_tasks.each do |user_task| %>
      <h3>タスク名:<%= user_task.name %></h3>
      <div><%# 削除や編集など %>
        <form action="/task_delete/<%= user_task.id %>" method="post">
          <input type="submit" value="削除">
        </form>
      </div>
      <div><%#  期日 %>
        <h4><%= user_task.due_date %></h4>
      </div>
      <div><%# コメント %>
        <h4><%= user_task.task_comment %></h4>
      </div>
      <div><%# 完了したかまたは機嫌が過ぎたらFeedBackのページに %>
        <% if !user_task.completed %>
          <div>
            締め切りまで<%= (user_task.due_date - Date.today).to_i %>です。
          </div>
          <form action="/task_done/<%= user_task.id %>" method="post">
            <input type="submit" value="DONE">
          </form>
        <% else %>
          <form action="/task_done/<%= user_task.id %>" method="post">
            <input type="submit" value="DONEじゃない！！">
          </form>
          <a href="/task_feedback/<%= user_task.id %>">FEEDBACKへ</a>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
